        <div class="page-header page-header-small">
            <div class="page-header-image" style="background-image: url('../../assets/img/yellownubuck.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title">About<br>"DIC THE CAN CREW"</h1>
                    <div class="text-center">
            <a href="https://twitter.com/share?text=DIC THE CAN CREW - KICK THE CAN CREW 歌詞検索サイト - @dicthecancrew&url=http://dtcc.kankeli.net/&hashtags=KTCC,KICKTHECANCREW,KREVA,MCU,LITTLE" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow" class="btn btn-circle btn-primary btn-icon btn-round">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="http://www.facebook.com/share.php?u=http://dtcc.kankeli.net/" onclick="window.open(encodeURI(decodeURI(this.href)), 'FBwindow', 'width=554, height=470, menubar=no, toolbar=no, scrollbars=yes'); return false;" rel="nofollow" class="btn btn-circle btn-primary btn-icon btn-round" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="javascript:void(0);" onclick="openWin()" class="btn btn-circle btn-primary btn-icon btn-round">
              <i class="lsf-icon fa hatenabookmark"></i>
            </a>
            <script type="text/javascript" charset="utf-8" async="async"></script>
            <script language="JavaScript" type="text/javascript">
              function openWin() {
                window.open("http://b.hatena.ne.jp/add?mode=confirm&url=http://dtcc.kankeli.net&title=DIC THE CAN CREW", "はてなブックマーク", "width=554, height=470,scrollbars=no,status=no,toolbar=no,location=no,menubar=no,directories=no,resizable=yes").focus();
              }
            </script>
                    </div>
                </div>
            </div>
        </div>



        <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center animated fadeIn">
                        <h2 class="title">DIC THE CAN CREW</h2>
                        <h5 class="description">
                          「DIC THE CAN CREW」はKICK THE CAN CREWおよび各メンバー(LITTLE,KREVA,MCU)が参加している楽曲の歌詞の全文検索ができるサイトです。<br><br>
                          当サイトは個人(<a href="https://twitter.com/dicthecancrew" target="_blank">@dicthecancrew</a>)により運営されているファンサイトであり、KICK THE CAN CREWメンバーおよび、その関係者といかなる関わりもありません。
                        </h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="col-md-8 ml-auto mr-auto text-center animated fadeIn">
                    <h2 class="title">歌詞検索機能</h2>
                    <h5 class="description">
                        当サイトで提供している歌詞検索機能は、検索キーワードがどの曲に含まれているかという情報のみを提供するものであり、歌詞そのものを表示する機能は提供しておりません。<br><br>
                        適宜、検索結果画面に歌詞掲載サイトへのリンクを貼っておりますので、歌詞データが必要な場合にはリンク先のサイトをご利用ください。
                    </h5>
                </div>
                <div class="separator separator-primary"></div>
                <div class="col-md-8 ml-auto mr-auto text-center animated fadeIN">
                    <h2 class="title">その他</h2>
                    <h5 class="description">
                        サイト内で使用している動画はYoutube公式APIを通じて、Youtubeのサーバーより配信されているものです。<br>
                        また、動画はすべてYoutube内のアーティスト公式チャンネルにてアップロードされているものを使用しております。<br><br>
                        ご連絡はTwitterアカウント<a href="https://twitter.com/dicthecancrew" target="_blank">@dicthecancrew</a>、もしくはメールアドレス：gladiolus_tmｐ☆gladiolus2.egoism.jpまでお願いします。<br>
                        (☆→@ ｐ→半角文字に置き換えてください)<br>
                    </h5>
                </div>
            </div>
        </div>

