    <div class="container">
      <div class="masonry-container">
        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-with-border card-just-text" data-background="color" data-color="black">
            <div class="content">
              <h4 class="title">"音楽"
                <br>is contained in
                <br>6 KICK songs.</h4>
              <p class="description">Score : 18</p>
            </div>
          </div>
          <!-- end card -->
        </div>
        <div class="card-box col-md-4 col-sm-6">
          <div class="card">
            <div class="header">
              <img src="../../assets/img/lifestyle-8.jpg" />
            </div>

            <div class="content">
              <h6 class="category">KICK THE CAN CREW</h6>
              <h4 class="title">TORIIIIIICO!</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr class="fade-2">
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr class="fade-2">
              <ul>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW)</span>
                </li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW)</span>
                </li>
              </ul>
            </div>
          </div>
          <!-- end card -->
        </div>


        <div class="card-box col-md-4 col-sm-6">
          <div class="card" data-background="image" data-src="../../assets/img/lifestyle-1.jpg">
            <div class="header">
              <div class="category">
                <h6 class="label label-danger">KICK THE CAN CREW</h6>
              </div>
            </div>

            <div class="content">
              <h4 class="title title-uppercase">
                OPENING
              </h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr class="fade-2">
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr class="fade-2">
              <ul>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW)</span>
                </li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW)</span>
                </li>
              </ul>
            </div>
            <div class="filter">

            </div>
          </div>
          <!-- end card -->
        </div>


        <div class="card-box col-md-4 col-sm-6">
          <div class="card">
            <div class="content">
              <h6 class="category">KICK THE CAN CREW</h6>
              <h4 class="title">
                性コンティニュー
              </h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr class="fade-2">
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr class="fade-2">
              <ul>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW)</span>
                </li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW)</span>
                </li>
              </ul>
            </div>
          </div>
          <!-- end card -->
        </div>


        <div class="card-box col-md-4 col-sm-6">
          <div class="card">
            <div class="header">
              <img src="../../assets/img/beard-1.jpg" />

              <div class="social-line social-line-visible" data-buttons="4">
                <button class="btn btn-social btn-facebook">
                  <i class="fab fa-facebook-square fa-lg"></i>
                </button>
                <button class="btn btn-social btn-twitter">
                  <i class="fab fa-twitter fa-lg"></i>
                </button>
                <button class="btn btn-social btn-pinterest">
                  <i class="fab fa-pinterest fa-lg"></i>
                </button>
                <button class="btn btn-social btn-google">
                  <i class="fab fa-google fa-lg"></i>
                </button>
              </div>
            </div>

            <div class="content">
              <h6 class="category">KICK THE CAN CREW</h6>
              <h4 class="title">パレード</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr class="fade-2">
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr class="fade-2">
              <ul>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW)</span>
                </li>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW)</span>
                </li>
              </ul>
            </div>
          </div>
          <!-- end card -->
        </div>



        <div class="card-box col-md-4 col-sm-6">
          <div class="card" data-background="image" data-src="../../assets/img/lifestyle-2.jpg">
            <div class="header">
              <div class="category">
                <h6 class="label label-warning">KICK THE CAN CREW</h6>
              </div>

              <div class="social-line" data-buttons="3">
                <button class="btn btn-social btn-facebook">
                  <i class="fab fa-facebook-square"></i> Share
                </button>
                <button class="btn btn-social btn-twitter">
                  <i class="fab fa-twitter"></i> Tweet
                </button>
                <button class="btn btn-social btn-pinterest">
                  <i class="fab fa-pinterest"></i> Pin
                </button>
              </div>
            </div>

            <div class="content">
              <h4 class="title">MISSION 1</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr class="fade-2">
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr class="fade-2">
              <ul>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW)</span>
                </li>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW)</span>
                </li>
              </ul>
            </div>
            <div class="filter"></div>
          </div>
          <!-- end card -->
        </div>





        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-with-border" data-background="image" data-src="../../assets/img/fashion-1.jpg">
            <div class="header">
            </div>

            <div class="content text-center">
              <h4 class="title">MISSION 1</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr class="fade-2">
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr class="fade-2">
              <ul>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW)</span>
                </li>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW)</span>
                </li>
              </ul>
            </div>
            <div class="footer text-center">
              <a href="#" class="btn btn-danger btn-fill btn-round">KICK THE CAN CREW</a>
            </div>
            <div class="filter"></div>
          </div>
          <!-- end card -->
        </div>



        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-just-text card-with-border" data-background="image" data-src="../../assets/img/lifestyle-9.jpg">
            <div class="content">
              <h4 class="title title-modern">脳内VACATION(album edit)</h4>
              <p class="description">KICK THE CAN CREW</p>
              <h4 class="title">MISSION 1</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr class="fade-2">
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr class="fade-2">
              <ul>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW)</span>
                </li>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW)</span>
                </li>
              </ul>
            </div>
            <div class="filter"></div>
          </div>
          <!-- end card -->
        </div>


        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-with-border" data-background="color" data-color="azure">
            <div class="header">
              <div class="icon">
                <i class="pe-7s-radio"></i>
              </div>
            </div>
            <div class="content text-center">
              <h4 class="title title-modern">ALL NIGHT LONG</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr class="fade-2">
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr class="fade-2">
              <ul>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW)</span>
                </li>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW)</span>
                </li>
              </ul>
            </div>
            <div class="footer text-center">
              <button class="btn btn-neutral btn-round btn-fill btn-modern">KICK THE CAN CREW</button>
            </div>
          </div>
          <!-- end card -->
        </div>





        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-with-border" data-background="color" data-color="orange">
            <div class="content">
              <h6 class="category">KICK THE CAN CREW</h6>
              <h4 class="title">
              裏表
              </h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr class="fade-2">
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr class="fade-2">
              <ul>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW)</span>
                </li>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW)</span>
                </li>
              </ul>
            </div>
          </div>
          <!-- end card -->
        </div>



        <div class="card-box col-md-4 col-sm-6">
          <div class="card text-center" data-background="image" data-src="../../assets/img/city-2.png">
            <h4 class="title title-modern">揺れ</h4>

            <div class="content">
              <div class="header">
                <div class="icon">
                  <i class="pe-7s-radio"></i>
                </div>
              </div>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr class="fade-2">
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr class="fade-2">
              <ul>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW</span>)
                </li>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW</span>)
                </li>
              </ul>
            </div>
            <div class="filter"></div>
            <div class="footer btn-center">
              <button class="btn btn-neutral btn-round btn-fill">KICK THE CAN CREW</button>
            </div>
          </div>
          <!-- end card -->
        </div>




        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-with-border">
            <div class="header">
              <div class="icon">
                <i class="pe-7s-glasses"></i>
              </div>
            </div>
            <div class="content text-center">
              <h4 class="title text-center">MISSION 2</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr class="fade-2">
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr class="fade-2">
              <ul>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW</span>)
                </li>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW</span>)
                </li>
              </ul>
            </div>
            <div class="footer btn-center">
              <button class="btn btn-default btn-round btn-fill btn-info btn-modern">KICK THE CAN CREW</button>
            </div>
          </div>
          <!-- end card -->
        </div>






        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-just-text card-with-border" data-background="image" data-src="../../assets/img/music-3.jpg">
            <div class="content">
              <div class="filter filter-red"></div>
              <h6 class="category">KICK THE CAN CREW</h6>
              <h4 class="title title-modern">自由TIME(album edit)</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr class="fade-2">
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr class="fade-2">
              <ul>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW</span>)
                </li>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW</span>)
                </li>
              </ul>
            </div>

            <div class="filter"></div>
          </div>
          <!-- end card -->
        </div>



        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-with-border" data-background="color" data-color="green">
            <div class="header">
              <div class="icon">
                <i class="pe-7s-gift"></i>
              </div>

              <div class="social-line" data-buttons="3">
                <button class="btn btn-social btn-facebook">
                  <i class="fab fa-facebook-square fa-lg"></i>
                </button>
                <button class="btn btn-social btn-twitter">
                  <i class="fab fa-twitter fa-lg"></i>
                </button>
                <button class="btn btn-social btn-pinterest">
                  <i class="fab fa-instagram fa-lg"></i>
                </button>
              </div>

            </div>
            <div class="content text-center">
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr class="fade-2">
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr class="fade-2">
              <ul>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW</span>)
                </li>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW</span>)
                </li>
              </ul>
            </div>
            <div class="footer btn-center">
              <button class="btn btn-neutral btn-fill btn-modern">KICK THE CAN CREW</button>
            </div>
          </div>
          <!-- end card -->
        </div>



        <div class="card-box col-md-4 col-sm-6">
          <div class="card" data-background="color" data-color="black">
            <div class="header">
              <img src="../../assets/img/home-1.jpg" />

              <div class="social-line" data-buttons="2">
                <button class="btn btn-social">
                  <i class="fab fa-facebook-square"></i> Share
                </button>
                <button class="btn btn-social">
                  <i class="fab fa-twitter"></i> Tweet
                </button>
              </div>
            </div>

            <div class="content">
              <h6 class="category">KICK THE CAN CREW</h6>
              <h4 class="title">
              ナビ
              </h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr class="fade-2">
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr class="fade-2">
              <ul>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW</span>)
                </li>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW</span>)
                </li>
              </ul>
            </div>
          </div>
          <!-- end card -->
        </div>



        <div class="card-box col-md-4 col-sm-6">
          <div class="card text-center" data-background="image" data-src="../../assets/img/city-1.jpg">
            <h4 class="title title-modern">LIKE THIS(GOOD!)</h4>

            <div class="content">
              <div class="icon">
                <i class="pe-7s-gift"></i>
              </div>

              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr class="fade-2">
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr class="fade-2">
              <ul>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW</span>)
                </li>
                <li>…EAH!
                  <span class="word-hit">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span class="artist-hit">KICK THE CAN CREW</span>)
                </li>
              </ul>
            </div>


            <div class="footer btn-center">
              <button class="btn btn-neutral btn-round btn-modern">KICK THE CAN CREW</button>
            </div>

            <div class="filter filter-blue"></div>
          </div>
          <!-- end card -->
        </div>


      </div>

    </div>
