<div class="container">
  <div class="masonry-container">
    <div class="card-box col-md-4 col-sm-6 animated fadeIn">
      <div class="card card-with-border card-just-text" data-background="color" data-color="black">
        <div class="content">
          <h4 class="title">"<%= @trimmed_search_word %>"
            <br>is contained in
            <br><%= @hit_song_infos.length %> kick songs.
          </h4>
          <% unless params[:ruby_search] %>
          <p class="description">Score : <%= @trimmed_search_word.length * @hit_song_infos.length %></p>
          <% else %>
          <p class="description">(ふりがな検索)</p>
          <% end %>
        </div>
      </div>
      <!-- end card -->
    </div>

    <% @hit_song_infos.each_with_index do |(key, info_arr), i| %>
      <%= generate_card_random(info_arr, Time.now.usec+i) %>
    <% end %>
  </div>
</div>