        <div class="page-header page-header-small">
            <div class="page-header-image" style="background-image: url('../../assets/img/lifestyle-1.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title">KICK &amp; ソロ名義楽曲一覧</h1>
                    <h5 class="title artists-link"><a href="#ktcc" class="artist-section-link">KICK THE CAN CREW</a> | <a href="#kreva" class="artist-section-link">KREVA</a> | <a href="#little" class="artist-section-link">LITTLE</a> | <a href="#mcu" class="artist-section-link">MCU</a> | <a href="#other" class="artist-section-link">OTHER</a></h5>
                </div>
            </div>
        </div>
        <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center animated fadeIn">
                        <p class="description">
                          KICK THE CAN CREWおよび各メンバーが参加している楽曲をまとめています。(CD発売日順に初出曲のみ記載。Remixなどは基本的にオリジナルバージョンのみ記載)
                        </p>
                        <p class="description" id="ktcc">
                          管理人が把握できていない楽曲や歌詞（赤字）の情報などお持ちの方がいらっしゃいましたら、管理人までご連絡いただけますと大変ありがたいです。<br>
                          よろしくお願いいたします。
                        </p>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title animated fadeInLeft">KICK THE CAN CREW</h2>
                        <ul>
                          <li class="animated fadeInLeft">
                            Sg「タカオニ/カンケリ」(1997-08-21)<br>
                            タカオニ / カンケリ
                          </li>
                          <hr class="fade-2">
                          <li class="animated fadeInLeft">
                            Sg「young animal e.p.」(2000-07-05)<br>
                            Down by Law(feat.CRAZY-A) / タカオニ2000 / one for the what,two for the who_part2 / 灼熱舞踏会
                          </li>
                          <hr class="fade-2">
                          <li class="animated fadeInLeft">
                            Sg「GOOD TIME!」(2000-08-18)<br>
                            GOOD TIME! / UP DOWN BICYCLE / ユートピア
                          </li>
                          <hr class="fade-2">
                          <li class="animated fadeInLeft">
                            Al「YOUNG KING」(2000-09-13)<br>
                            Call &amp; …(※Instrumental) / KICK OFF(※キックOFFとは別曲) / Megacityrunning / Why did I? / PARTYOVER / X-amount / 旅人(※Instrumental) / エルニーニョ / united rivers / 河と海が合わさるところ
                          </li>
                          <hr class="fade-2">
                          <li class="animated fadeInLeft">
                            Sg「今日から明日」(2001-02-21)<br>
                            今日から明日 / 今日カラ明日（※今日から明日と同歌詞）
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「スーパーオリジナル」(2001-05-23)<br>
                            スーパーオリジナル / Fire!(re-construction of スーパーオリジナル)
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「イツナロウバ」(2001-07-11)<br>
                            イツナロウバ / KA･RU･KU FICTION
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「カンケリ01/LIFELINE」(2001-09-27)<br>
                            カンケリ01 / LIFELINE
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「GREATEST HITS」(2001-10-17)<br>
                            3MCs + 1DJ / Color Variation / マイクロフォンのテーマ
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「クリスマス・イブRap」(2001-11-07)<br>
                            クリスマス・イブRap
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「マルシェ」(2002-01-23)<br>
                            マルシェ / C'MON EVERYBODY
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「VITALIZER」(2002-02-14)<br>
                            THE THEME OF "KICK" / カンケリ02(※カンケリ01と同歌詞) / キックOFF(※KICK OFFとは別曲) / VITALIZER / ONE FOR THE WHAT,TWO FOR THE WHO PART.III / ?WHATCHANAME? / 神輿ロッカーズ feat.RHYMESTER / HANDS
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「ONEWAY」(2002-03-13)<br>
                            ONEWAY
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「sayonara sayonara」(2002-05-22)<br>
                            sayonara sayonara / bed<br>
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「アンバランス」(2002-08-28)<br>
                            アンバランス
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「地球ブルース～337～/DJDJ[for RADIO]」(2002-11-07)<br>
                            地球ブルース～337～ / DJDJ[for RADIO]
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「TORIIIIIICO!」(2002-12-11)<br>
                            TORIIIIIICO! feat.CASSETTE VISION
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「magic number」(2003-01-01)<br>
                            登場 / RE-FRESH / ストレス / mama said ～ハタラキッパ～ / ナニカ / movingman / CAN-CAN / E.L.E.M.E.N.T.S / LONELY ONE / magic number
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「性コンティニュー」(2003-08-06)<br>
                            性コンティニュー / BREAK 3
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「GOOD MUSIC」(2003-09-10)<br>
                            GOOD MUSIC / 自由TIME
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「パンク寸前のFUNK」(2003-10-16)<br>
                            パンク寸前のFUNK / D.O.I.T.A.
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「ナビ/揺れ」(2003-11-12)<br>
                            ナビ / 揺れ
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「BEST ALBUM 2001-2003」(2003-11-19)<br>
                            STEP IN THE DAY
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「脳内VACATION」(2003-12-10)<br>
                            脳内VACATION
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「GOOD MUSIC」(2004-01-01)<br>
                            OPENING / パレード / MISSION 1 / ALL NIGHT LONG / 裏表 / MISSION 2 / LIKE THIS (GOOD!)(※Instrumental) / MISSION 3 / もしも
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「KICK!」(2017-08-30)<br>
                            全員集合 / 千％ / 今もSing-along / SummerSpot / なんでもないDays / 完全チェンジTHEワールド / また戻っておいで / また波を見てる / I Hope You Miss Me a Little / タコアゲ
                          </li>
                          <div class="separator"></div>
                          <h5>他アーティスト参加作品(KICK THE CAN CREW)</h5>
                          <div class="separator"></div>
                          <li>
                            嶋野百恵 Al「Roots」(2000-06-21)<br>
                            Roots feat. Kick the Can Crew &amp; INNOSENCE
                          </li>
                          <hr class="fade-2">
                          <li>
                            DOUBLE Sg「Angel」(2000-11-22)<br>
                            U 〜KREVA REMIX〜 featuring KICK THE CAN CREW
                          </li>
                          <hr class="fade-2">
                          <li>
                            Rhymester Al「ウワサの真相」(2001-12-19)<br>
                            10 Balls+2 featuring Kick The Can Crew
                          </li>
                          <hr class="fade-2">
                          <li id="kreva">
                            THE BOOM Sg「この街のどこかに」(2002-06-05)<br>
                            いいあんべえ(monoaural mix) featuring KICK THE CAN CREW
                          </li>
                          <hr class="fade-2">
                          <li>
                            EAST END Al「Beginning of the Endless」(2003-09-24)<br>
                            FGスポット feat. KICK THE CAN CREW
                          </li>
                          <hr class="fade-2">
                          <li>
                            RHYMESTER Al「HEAT ISLAND」(2006-03-08)<br>
                            ウィークエンド・シャッフル feat. MCU, RYO-Z, KREVA, CUEZERO, CHANNEL, KOHEI JAPAN, SU, LITTLE, ILMARI, GAKU-MC, SONOMI, PES, K.I.N, 童子-T
                          </li>
                        </ul>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="row scroll-animations">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title animated">KREVA</h2>
                        <ul>
                          <li class="animated">
                            Sg「希望の炎」(2004-06-18)<br>
                            希望の炎
                          </li>
                          <hr class="fade-2">
                          <li class="animated">
                            Sg「音色」(2004-09-08)<br>
                            音色 / コントロール
                          </li>
                          <hr class="fade-2">
                          <li class="animated">
                            Sg「ひとりじゃないのよ」(2004-10-20)<br>
                            ひとりじゃないのよ Single Version / コトバにできない
                          </li>
                          <hr class="fade-2">
                          <li class="animated">
                            Al「新人クレバ」(2004-11-03)<br>
                            Dr.K(※歌詞非掲載) / DAN DA DAN feat.CUEZERO / 音色 / あ･ら･ら・Take you home / お祭りクレバ / ファンキーグラマラス feat.Mummy-D from RHYMESTER / スタンド・バイ・ミー feat.KANA from THC!! / Skit/Dr.K診療所(※スキット。歌詞非掲載) / WAR WAR ZONE feat.CUEZERO / You are the No.1(Hey DJ) feat.BONNIE PINK / You know we rule feat.NG HEAD / Baby Dancer
                          </li>
                          <hr class="fade-2">
                          <li class="animated">
                            Sg「ファンキーグラマラス」(2005-01-13)<br>
                            ファンキーグラマラス feat.Mummy-D
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「イッサイガッサイ」(2005-06-15)<br>
                            イッサイガッサイ / KRAZY BOY, KRAZY GIRL / all day, all night
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「スタート」(2005-09-08)<br>
                            スタート / いまさら2step / I was a fool
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「国民的行事」(2005-12-07)<br>
                            国民的行事 / Practice Session feat.SONOMI
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「愛・自分博」(2006-02-01)<br>
                            H.A.P.P.Y / It's for you / いいと思う / island life feat.SONOMI / 涙止まれよ feat.SONOMI / 江戸川ロックオン feat.CUEZERO,WADA / 暗闇のナビゲイラ / トリートメント feat.DABO,CUEZERO / My Life
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「Have a nice day!」(2006-08-02)<br>
                            Have a nice day! / 今夜はブギー・バック
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「THE SHOW」(2006-11-01)<br>
                            THE SHOW
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「アグレッシ部」(2007-03-14)<br>
                            アグレッシ部 / 口元に笑み
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「BEST of MIXCD NO.1」(2007-03-14)
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「くればいいのに feat. 草野マサムネ from SPITZ(Single Edit)」(2007-06-20)<br>
                            くればいいのに feat. 草野マサムネ from SPITZ / JUMP ON IT
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「よろしくお願いします」(2007-09-05)<br>
                            ストロングスタイル / YOU DON'T STOP!! / 揺さぶるブルー / ビコーズ / You are my sunshine feat.千晴 / 今日だけでいい feat.SONOMI &amp; ALI-KICK / ため息はCO2 / 東西南北脳内回想録 / SWEET SWEET メモリーズ feat.SONOMI / 終わりたくないオーワラナイ
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「ストロングスタイル」(2007-10-03)
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「クレバのベスト盤」(2008-03-19)<br>
                            あかさたなはまやらわをん
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「青」(2009-03-18)<br>
                            成功 / I Wanna Know You / 生まれてきてありがとう(feat.さかいゆう) /So Sexy
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「赤」(2009-07-08)<br>
                            瞬間speechless / 君に、胸キュン。-浮気なヴァカンス-
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「心臓」(2009-09-08)<br>
                            K.I.S.S. / これがFall In Love / Tears In My Eyes / リズム / シンクロ feat. 古内東子 / Tonight / 心臓(※歌詞非掲載) / ACE / 中盤戦 feat.Mummy-D / キャラメルポップコーン feat.将絢 from Romancrew / この先どうなる？
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「OASYS」(2010-09-15)<br>
                            道なき道 / かも / たられば feat. SONOMI / 最終回 / エレクトロ・アース・トラックス / Oasys(※Instrumental) / Changing Same / Reprise ～道なき道～(※道なき道と同歌詞)
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「挑め」(2011-02-16)<br>
                            挑め / ベステンダンク / 挑め Remix feat. MCU &amp; LITTLE
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「EGAO」(2011-03-30)<br>
                            EGAO
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「C'mon, Let's go」(2011-05-11)<br>
                            C'mon, Let's go / マカー GB-mix feat.AKLO,L-VOKAL(BETTER HALVES)
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「Tan-Kyu-Shin / KILA KILA」(2011-07-20)<br>
                            Tan-Kyu-Shin / KILA KILA
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「GO」(2011-09-08)<br>
                            基準 / 挑め / 蜃気楼 feat. 三浦大知 / 呪文 / runnin' runnin' / HOT SUMMER DAYS / 微炭酸シンドローム feat. 阿部真央 / パーティーはIZUKO? / C'mon, Let's go / 探究心
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「ひかり」(2012-01-18)<br>
                            ひかり
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「BEST OF MIXCD NO.2」(2012-02-22)
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「OH YEAH」(2012-06-20)<br>
                            OH YEAH / NO NO NO feat. SONOMI
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「Na Na Na」(2012-09-05)<br>
                            Na Na Na / No More Mr. NiceGuy feat. KEN THE 390, AKLO
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「王者の休日」(2013-01-16)<br>
                            王者の休日 / No More Mr. NiceGuy Remix feat. KEN THE 390, AKLO, 坂本美雨
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「SPACE」(2013-02-20)<br>
                            space4space 1 / SPACE / Feel It In The Air / ma chèrie' / space4space 2 / 俺は Do It Like This / 調理場 / 言ってなカッタカナ？ / space4space 3 / Space Dancer / Link / space4space 4 
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「SPACE Instrumentals」(2013-02-20)
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「BESHI」(2013-08-28)<br>
                            BESHI / 世界の中心
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「LIVE ALBUMSPACE TOUR」(2013-12-04)<br>
                            I REP / 遠くまで feat. KREVA
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「トランキライザー」(2014-02-05)<br>
                            トランキライザー / 稲光
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「KX」(2014-06-18)<br>
                            全速力 feat.三浦大知 / Revolution / 裏切り御免 [KREVA BEAT REMIX] / Nothing / 目を閉じれば無数の星 / 忘れずにいたいもの / 夏サマサマ feat.千晴（Roughmix） / ハッピーメリークリスマス（Demo） / 908 FESTIVAL 2012 オープニングテーマ / 908 FESTIVAL 2013 オープニングテーマ / space4space 5（Demo） / BESHI -Band Recording Ver.- take8（Roughmix）
                          </li>
                          <hr class="fade-2">
                          <li>
                            Sg「Under The Moon」(2015-02-25)<br>
                            Under The Moon / これでよければいくらでも / 47都道府県ラップ
                          </li>
                          <hr class="fade-2">
                          <li>
                            Al「嘘と煩悩」(2017-02-01)<br>
                            嘘と煩悩 / 神の領域 / 居場所 / 想い出の向こう側 feat. AKLO / FRESH MODE / Sanzan feat. 増田有華 / ってかもう / あえてそこ (攻め込む) / タビカサナル / もう逢いたくて / 君に夢中
                          </li>
                          <div class="separator"></div>
                          <h5>他アーティスト参加作品(KICK THE CAN CREW)</h5>
                          <div class="separator"></div>
                          <li>
                            嶋野百恵 Al「Roots」(2000-06-21)<br>
                            Roots feat.KICK THE CAN CREW &amp; INNOSENCE
                          </li>
                          <hr class="fade-2">
                          <li>
                            DOUBLE Sg「Angel」(2000-11-22)<br>
                            U 〜KREVA REMIX〜 featuring KICK THE CAN CREW
                          </li>
                          <hr class="fade-2">
                          <li>
                            Rhymester Al「ウワサの真相」(2001-12-19)<br>
                            10 Balls+2 featuring Kick The Can Crew
                          </li>
                          <hr class="fade-2">
                          <li>
                            THE BOOM Sg「この街のどこかに」(2002-06-05)<br>
                            いいあんべえ(monoaural mix) featuring KICK THE CAN CREW
                          </li>
                          <hr class="fade-2">
                          <li>
                            EAST END Al「Beginning of the Endless」(2003-09-24)<br>
                            FGスポット feat. KICK THE CAN CREW
                          </li>
                          <hr class="fade-2">
                          <li>
                            RHYMESTER Al「HEAT ISLAND」(2006-03-08)<br>
                            ウィークエンド・シャッフル feat. MCU, RYO-Z, KREVA, CUEZERO, CHANNEL, KOHEI JAPAN, SU, LITTLE, ILMARI, GAKU-MC, SONOMI, PES, K.I.N, 童子-T
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
